%h1 Developer Wise Stats
.row
  .col-md-1
  .col-md-10
    .table-responsive
      %table
        %tbody
          %tr
            %th.text-center TodoStatus
            - @assigned_developers.each do |developer_name|
              %th.text-center= developer_name
          - @stats.each do |status, list|
            %tr
              %td.text-center= status
              - list.each do |dev, todos|
                - if !todos.empty?
                  %td
                    %ol
                    - todos.each do |todo|
                      %li= todo

